<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Correct Pigments Game Host</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }

        .questionHover:hover {
            background-color: rgb(189, 219, 245);
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://chanchosserver.com/src/styles.css">
</head>
<body>
    <div>
        <h1 id="chat-log" style="width: 80%; margin: auto; float: left;"></h1><br>
        <div id='scores' style="width: 20%; float: left;"></div>
        <h1 id='question' style="width: 80%; margin: auto; float: left;"></h1>
        <h2 id="countdown" style="width: 80%; margin: auto; float: left;"></h2>
        <input id="startGame" type="button" value="Start Game">
        {{ gameCode|json_script:"gameCode" }}
    </div>
    
    <script>
        const gameCode = JSON.parse(document.getElementById('gameCode').textContent);
        var madePredictionResults = '<table><th>Player</th><th>Votes Predicted</th><th>Actual Votes</th><th>Points Earned</th>';

        // Set the background music
        var src = 'http://chanchosserver.com/src/soundEffects/marchMajestic.m4a';
        var backgroundMusic = new Audio(src);

        // Input the gameCode into the DOM
        document.getElementById('chat-log').innerHTML = 'Your gameCode is ' + gameCode + '.<br>';

        var questions = [];

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameCode
            + '/'
        );

        function doNothing() {
            x = 1;
        }

        function displayMadePredictionResults() {
            madePredictionResults = madePredictionResults + '</table>';
            // Display the question
            document.getElementById('question').innerHTML = document.getElementById('chat-log').innerHTML;
            
            // Add the next round button
            madePredictionResults += '<br><button onclick="nextRound()" style="font-size: 8rem;">Next round</buton>';

            // Display the results
            document.getElementById('chat-log').innerHTML = madePredictionResults;

            // Reset the prediction results
            madePredictionResults = '<table><tr><th>Player</th><th>Votes Predicted</th><th>Actual Votes</th><th>Points Earned</th></tr>';


            // Send off the ready for next round message
            chatSocket.send(JSON.stringify({
                'message': 'readyForNextRound'
            }));
        }

        function nextRound() {
            // Send off the nextRound message
            chatSocket.send(JSON.stringify({
                'message': 'nextRound'
            }));
        }

        function playBackgroundMusic() {
            backgroundMusic.play();
        }

        function pauseBackgroundMusic() {
            backgroundMusic.pause();
        }

        function sendQuestion(questionIndex) {
            // Send the question
            let playerID = document.getElementById('questionPlayerID').innerHTML;
            chatSocket.send(JSON.stringify({
                'message': 'someonePickedAQuestion',
                'playerID': playerID,
                'question': questions[questionIndex]
            }));
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var recipients = data['recipients'];
            var innerHTML = '';

            console.log(data)

            // Check if the message is for the server
            for (var iCount = 0; iCount < recipients.length; iCount++) {
                if (recipients[iCount] == -1) {
                    // It was intended for the server
                    // Check if it was a pickQuestion
                    if (data.randomQuestion1) {
                        // It was a pickQuestion so figure out the display
                        let chatLog = recipients[0]['realName'] + ' gets to choose the question.<br>';
                        innerHTML = '<div onclick="sendQuestion(0);" class="questionHover"><h3>Question 1</h3><h4>' + data.randomQuestion1.question +'</h4></div>';
                        innerHTML = innerHTML + '<div onclick="sendQuestion(1);" class="questionHover"><h3> Question 2<h3><h4>' + data.randomQuestion2.question + '</h4></div>';
                        innerHTML = innerHTML + '<span id="questionPlayerID" style="display: none;">' + recipients[iCount] + '</span>';

                        // Save the questions for later
                        questions[0] = (data.randomQuestion1);
                        questions[1] = (data.randomQuestion2);

                        // Set the display
                        document.querySelector('#chat-log').innerHTML = chatLog;
                        document.querySelector('#question').innerHTML = innerHTML;
                    } 

                    // Check if someone has joined
                    else if (data.message == "someoneJoined") {
                        // Create the HTML for who has joined
                        innerHTML = ''
                        scores = data.scores
                        for (var iCount = 0; iCount < scores.length; iCount++) {
                            innerHTML = innerHTML + scores[iCount]['realName'] + ' has joined.<br>';
                        }

                        // Set it equal to the chat log
                        document.getElementById('scores').innerHTML = innerHTML;
                    }

                    // Check if it's a vote prompt
                    else if (data.question) {
                        // Play the sound effect
                        let src = 'http://chanchosserver.com/src/soundEffects/timeToVote.m4a';
                        let audio = new Audio(src);
                        audio.play();

                        // Create the question
                        innerHTML = data.question.question;

                        // Display the question
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                        document.querySelector('#question').innerHTML = '';

                        // Countdown
                        var timeleft = 20;
                        var downloadTimer = setInterval(function(){
                            // Play background music
                            playBackgroundMusic();

                            if(timeleft <= 0){
                                // Pause background music
                                pauseBackgroundMusic();

                                clearInterval(downloadTimer);
                                document.getElementById("question").innerHTML = "Make your prediction";

                                // Send off the makePrediction message
                                chatSocket.send(JSON.stringify({
                                    'message': 'makePrediction'
                                }));
                            } else {
                                document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
                            }
                            timeleft -= 1;
                            }, 1000);
                        }

                    // Check if it's a makePrediction prompt
                    else if (data.message == 'makePrediction') {
                        // Play the sound effect
                        let src = 'http://chanchosserver.com/src/soundEffects/makeYourPrediction.m4a';
                        let audio = new Audio(src);
                        audio.play();

                        // Countdown
                        var timeleft = 20;
                        var downloadTimer = setInterval(function(){
                            // Play background music
                            playBackgroundMusic();

                            if(timeleft <= 0){
                                // Pause background music
                                pauseBackgroundMusic();

                                clearInterval(downloadTimer);

                                // Clear the countdown
                                document.getElementById("countdown").innerHTML = ""

                                // Send off the displayPredictions message
                                chatSocket.send(JSON.stringify({
                                    'message': 'displayPredictions'
                                }));

                                // Display the predictions
                                displayMadePredictionResults();
                            } else {
                                document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
                            }
                            timeleft -= 1;
                            }, 1000);
                        }

                    // Check if someone just made a prediction
                    else if (data.message == 'madePrediction') {
                        // Add it to the madePrediction results
                        madePredictionResults = madePredictionResults + '<tr><td>' + (data.player) + '</td><td>' +
                            (data.votesPredicted) + '</td><td>' + (data.actualVotes) + '</td><td>' + (data.pointsEarned) + '</td></tr>';
                    }

                    // Check if it's time to end the game
                    else if (data.message == 'endTheGame') {
                        innerHTML = '<table><tr><th>Player</th><th>Score</th></tr>'
                        scores = data.scores
                        for (var iCount = 0; iCount < scores.length; iCount++) {
                            innerHTML = innerHTML + '<tr><th>' + scores[iCount]['realName'] + '</th>';
                            innerHTML = innerHTML + '<th>' + scores[iCount]['points'] + '</th></tr>';
                        }
                        innerHTML = innerHTML + '</table>';

                        // Set it equal to the question
                        document.getElementById('question').innerHTML = innerHTML;
                    }

                    // Check if they are sending scores
                    // Check if it's time to end the game
                    else if (data.message == 'scores') {
                        innerHTML = '<table><tr><th>Player</th><th>Score</th></tr>'
                        scores = data.scores
                        for (var iCount = 0; iCount < scores.length; iCount++) {
                            innerHTML = innerHTML + '<tr><th>' + scores[iCount]['realName'] + '</th>';
                            innerHTML = innerHTML + '<th>' + scores[iCount]['points'] + '</th></tr>';
                        }
                        innerHTML = innerHTML + '</table>';

                        // Set it equal to the chat log
                        document.getElementById('scores').innerHTML = innerHTML;
                    }


                    else {
                        document.querySelector('#chat-log').innerHTML += (data.message + '<br>');
                    }
                    
                }
            } 
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // They clicked the start game button
        document.querySelector('#startGame').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'message': 'startGame'
            }));

            // Hide the start button now
            document.getElementById('startGame').style.display = "none";
        };
    </script>
</body>
</html>