<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Create Game</title>
</head>
<body>
    How many rounds?<br>
    <input id="create-game-input" type="number" size="100"><br>
    <input id="create-game-submit" type="button" value="Create Game">

    <script>
        document.querySelector('#create-game-input').focus();
        document.querySelector('#create-game-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#create-game-submit').click();
            }
        };                

        document.querySelector('#create-game-submit').onclick = function(e) {
            // Call the API to get a gameCode
            var numberOfRounds = document.querySelector('#create-game-input').value;
            var gameCode = 'error'
            const Http = new XMLHttpRequest();
            const url = 'http://' + window.location.host + '/API/CreateGame/' + numberOfRounds;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = function(){
                if(this.readyState==4 && this.status==200){
                    // Grab the gameCode from the API request
                    gameCode = JSON.parse(Http.responseText);

                    // Make the path
                    path = '/clientGame/GameHost/' + gameCode + '/';
                    
                    window.location.pathname = path;
                }
            }
        };
    </script>
</body>
</html>