<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Correct Pigments Game Host</title>
</head>
<body>
    <h1 id="chat-log" cols="100" rows="20"></h1><br>
    <h2 id="countdown"></h2><br>
    <input id="startGame" type="button" value="Start Game">
    {{ gameCode|json_script:"gameCode" }}
    <script>
        const gameCode = JSON.parse(document.getElementById('gameCode').textContent);
        var madePredictionResults = '';

        // Input the gameCode into the DOM
        document.getElementById('chat-log').innerHTML = 'Your gameCode is ' + gameCode + '.<br>';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameCode
            + '/'
        );

        function doNothing() {
            x = 1;
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var recipients = data['recipients'];
            var innerHTML = '';

            console.log(data)

            // Check if the message is for the server
            for (var iCount = 0; iCount < recipients.length; iCount++) {
                if (recipients[iCount] == -1) {
                    // It was intended for the server
                    // Check if it was a pickQuestion
                    if (data.randomQuestion1) {
                        // It was a pickQuestion so figure out the display
                        innerHTML = recipients[0]['realName'] + ' gets to choose the question.<br>';
                        innerHTML = innerHTML + '<h3>Question 1<h3><h4>' + data.randomQuestion1.question +'<h4><b4>';
                        innerHTML = innerHTML + '<h3> Question 2<h3><h4>' + data.randomQuestion2.question + '<h4>';

                        // Set the display
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                    } 

                    // Check if it's a vote prompt
                    else if (data.question) {
                        // Create the question
                        innerHTML = data.question.question;

                        // Display the question
                        document.querySelector('#chat-log').innerHTML = innerHTML;

                        // Countdown
                        var timeleft = 20;
                        var downloadTimer = setInterval(function(){
                        if(timeleft <= 0){
                            clearInterval(downloadTimer);
                            document.getElementById("countdown").innerHTML = "Make your prediction";

                            // Send off the makePrediction message
                            chatSocket.send(JSON.stringify({
                                'message': 'makePrediction'
                            }));
                        } else {
                            document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
                        }
                        timeleft -= 1;
                        }, 1000);
                    }

                    // Check if it's a makePrediction prompt
                    else if (data.message == 'makePrediction') {
                        // Countdown
                        var timeleft = 20;
                        var downloadTimer = setInterval(function(){
                        if(timeleft <= 0){
                            clearInterval(downloadTimer);

                            // Display the makePrediction results
                            madePredictionResults = madePredictionResults + '<button onclick="nextRound()">Next Round</button>';
                            document.getElementById('chat-log').innerHTML = madePredictionResults;
                        } else {
                            document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
                        }
                        timeleft -= 1;
                        }, 1000);
                    }

                    // Check if someone just made a prediction
                    else if (data.message == 'madePrediction') {
                        // Add it to the madePrediction results
                        madePredictionResults = madePredictionResults + '<h3>' + (data.response) + '</h3>'
                    }

                    else {
                        document.querySelector('#chat-log').innerHTML += (data.message + '<br>');
                    }
                    
                }
            } 
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // They clicked the start game button
        document.querySelector('#startGame').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'message': 'startGame'
            }));

            // Hide the start button now
            document.getElementById('startGame').style.display = "none";
        };
    </script>
</body>
</html>