<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Correct Pigments Client</title>
</head>
<body>
    <h1 id="chat-log" cols="100" rows="20"></h1><br>
    {{ gameCode|json_script:"gameCode"}}
    {{ clientName|json_script:"clientName"}}
    {{ playerID|json_script:"playerID"}}
    <script>
        const gameCode = JSON.parse(document.getElementById('gameCode').textContent);
        const clientName = JSON.parse(document.getElementById('clientName').textContent);
        const playerID = JSON.parse(document.getElementById('playerID').textContent);
        var questions = []

        // Input that we're waiting for the game to start
        document.getElementById('chat-log').innerHTML = 'Waiting for the game to start...';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameCode
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var recipients = data['recipients'];
            var innerHTML = '';

            console.log(data);

            // Check if the message is for the client
            for (var iCount = 0; iCount < recipients.length; iCount++) {
                if (recipients[iCount] == playerID) {
                    // It was intended for the client
                    // Check if it's a start game message
                    if (data.message == "The game has started.") {
                        document.querySelector('#chat-log').innerHTML = (data.message + '<br>');
                    }
                    // Check if it's a pick a question prompt
                    else if (data.message == "pick_question") {
                        // Set the questions for later
                        questions[0] = (data.randomQuestion1);
                        questions[1] = (data.randomQuestion2);

                        // Build the questions out
                        innerHTML = 'Pick a question<br>';
                        innerHTML = innerHTML + "<button id='randomQuestion1' name='" + data.randomQuestion1.questionID 
                            + "' onclick='sendQuestion(1)'>";
                        innerHTML = innerHTML + '1</button><br>';
                        innerHTML = innerHTML + "<button id='randomQuestion2' name='" + data.randomQuestion2.questionID 
                            + "' onclick='sendQuestion(2)'>";
                        innerHTML = innerHTML + '2</button><br>';

                        // Set the chat log to these questions
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                    }

                    // Check if it's a vote prompt
                    else if (data.message == "Vote please") {                        
                        // Create the names for them to choose
                        innerHTML = '';
                        for (var iCount = 0; iCount < data.names.length; iCount++) {
                            innerHTML = innerHTML + '<button id=' + data.names[iCount].playerID + '>' + data.names[iCount].realName
                                + '</button>';
                        }

                        // Set the chat log to these votes
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                    }
                }
            }            
        };

        function sendQuestion(questionIndex) {
            // Send the question
            chatSocket.send(JSON.stringify({
                'message': 'someonePickedAQuestion',
                'playerID': playerID,
                'question': questions[questionIndex]
            }));

            // Hide the questions now
            document.querySelector('#chat-log').innerHTML = 'Waiting...';
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>