<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Correct Pigments Game Host</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <h1 id="chat-log" style="width: 80%; margin: auto; float: left;"></h1><br>
        <div id='scores' style="width: 20%; float: left;"></div>
        <h2 id='question'></h2>
        <h2 id="countdown"></h2>
        <input id="startGame" type="button" value="Start Game">
        {{ gameCode|json_script:"gameCode" }}
    </div>
    
    <script>
        const gameCode = JSON.parse(document.getElementById('gameCode').textContent);
        var madePredictionResults = '';

        // Input the gameCode into the DOM
        document.getElementById('chat-log').innerHTML = 'Your gameCode is ' + gameCode + '.<br>';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameCode
            + '/'
        );

        function doNothing() {
            x = 1;
        }

        function displayMadePredictionResults() {
            document.getElementById('chat-log').innerHTML = madePredictionResults;
            document.getElementById('countdown').innerHTML = '<button onclick="nextRound()">Next Round</button>'
        }

        function nextRound() {
            // Send off the nextRound message
            chatSocket.send(JSON.stringify({
                'message': 'nextRound'
            }));
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var recipients = data['recipients'];
            var innerHTML = '';

            console.log(data)

            // Check if the message is for the server
            for (var iCount = 0; iCount < recipients.length; iCount++) {
                if (recipients[iCount] == -1) {
                    // It was intended for the server
                    // Check if it was a pickQuestion
                    if (data.randomQuestion1) {
                        // Empty the madePredictionResults
                        madePredictionResults = [];

                        // It was a pickQuestion so figure out the display
                        let chatLog = recipients[0]['realName'] + ' gets to choose the question.<br>';
                        innerHTML = '<h3>Question 1<h3><h4>' + data.randomQuestion1.question +'<h4><b4>';
                        innerHTML = innerHTML + '<h3> Question 2<h3><h4>' + data.randomQuestion2.question + '<h4>';

                        // Set the display
                        document.querySelector('#chat-log').innerHTML = chatLog;
                        document.querySelector('#question').innerHTML = innerHTML;
                    } 

                    // Check if it's a vote prompt
                    else if (data.question) {
                        // Create the question
                        innerHTML = data.question.question;

                        // Display the question
                        document.querySelector('#question').innerHTML = innerHTML;

                        // Countdown
                        var timeleft = 20;
                        var downloadTimer = setInterval(function(){
                        if(timeleft <= 0){
                            clearInterval(downloadTimer);
                            document.getElementById("countdown").innerHTML = "Make your prediction";

                            // Send off the makePrediction message
                            chatSocket.send(JSON.stringify({
                                'message': 'makePrediction'
                            }));
                        } else {
                            document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
                        }
                        timeleft -= 1;
                        }, 1000);
                    }

                    // Check if it's a makePrediction prompt
                    else if (data.message == 'makePrediction') {
                        // Display a done button
                        document.getElementById('countdown').innerHTML = '<button onclick="displayMadePredictionResults()">Display Prediction Results</button>';
                    }

                    // Check if someone just made a prediction
                    else if (data.message == 'madePrediction') {
                        // Add it to the madePrediction results
                        madePredictionResults = madePredictionResults + '<h3>' + (data.response) + '</h3>'
                    }

                    // Check if it's time to end the game
                    else if (data.message == 'endTheGame') {
                        innerHTML = '<table><tr><th>Player</th><th>Score</th></tr>'
                        scores = data.scores
                        for (var iCount = 0; iCount < scores.length; iCount++) {
                            innerHTML = innerHTML + '<tr><th>' + scores[iCount]['realName'] + '</th>';
                            innerHTML = innerHTML + '<th>' + scores[iCount]['points'] + '</th></tr>';
                        }
                        innerHTML = innerHTML + '</table>';

                        // Set it equal to the chat log
                        document.getElementById('chat-log').innerHTML = innerHTML;
                    }

                    // Check if they are sending scores
                    // Check if it's time to end the game
                    else if (data.message == 'scores') {
                        innerHTML = '<table><tr><th>Player</th><th>Score</th></tr>'
                        scores = data.scores
                        for (var iCount = 0; iCount < scores.length; iCount++) {
                            innerHTML = innerHTML + '<tr><th>' + scores[iCount]['realName'] + '</th>';
                            innerHTML = innerHTML + '<th>' + scores[iCount]['points'] + '</th></tr>';
                        }
                        innerHTML = innerHTML + '</table>';

                        // Set it equal to the chat log
                        document.getElementById('scores').innerHTML = innerHTML;
                    }


                    else {
                        document.querySelector('#chat-log').innerHTML += (data.message + '<br>');
                    }
                    
                }
            } 
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // They clicked the start game button
        document.querySelector('#startGame').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'message': 'startGame'
            }));

            // Hide the start button now
            document.getElementById('startGame').style.display = "none";
        };
    </script>
</body>
</html>