<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Correct Pigments Client</title>
</head>
<body>
    <h1 style="font-size: 5rem;" id="chat-log" cols="100" rows="20"></h1>
    {{ gameCode|json_script:"gameCode"}}
    {{ clientName|json_script:"clientName"}}
    {{ playerID|json_script:"playerID"}}
    <script>
        const gameCode = JSON.parse(document.getElementById('gameCode').textContent);
        const clientName = JSON.parse(document.getElementById('clientName').textContent);
        const playerID = JSON.parse(document.getElementById('playerID').textContent);
        var votes = [];
        var questions = [];

        function voteIncrement(playerID) {
            // Check how many times they voted
            let timesVoted = 0;
            for (var iCount = 0; iCount < votes.length; iCount++) {
                timesVoted = timesVoted + votes[iCount][1];
            }

            if (timesVoted <= 1) {
                // Set the playerID plus 1
                // Check if it exists in the votes array
                let itExists = false;
                let indexForVote = -1;
                for (var iCount = 0; iCount < votes.length; iCount++) {
                    if (votes[iCount][0] == playerID) {
                        itExists = true;
                        indexForVote = iCount;
                    }
                }

                if (itExists == true) {
                    // Increment it by one
                    votes[indexForVote][1] = votes[indexForVote][1] + 1;

                    // Set the DOM tag to the correct votes
                    document.getElementById('votesFor' + playerID).innerHTML = votes[indexForVote][1];
                } else {
                    // Add it to the array and increment it by one
                    votes.push([playerID, 1])

                    // Set the DOM tag to the correct votes
                    document.getElementById('votesFor' + playerID).innerHTML = votes[votes.length - 1][1];
                }
            } else {
                alert("You've already voted twice.");
            }
            
        }

        function clearVotes() {
            // Clear the votes in the DOM
            for (var iCount = 0; iCount < votes.length; iCount++) {
                document.getElementById('votesFor' + votes[iCount][0]).innerHTML = '';
            }

            // Clear the votes array
            votes = [];
        }        

        // Input that we're waiting for the game to start
        document.getElementById('chat-log').innerHTML = 'Waiting for the game to start...';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameCode
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var recipients = data['recipients'];
            var innerHTML = '';

            console.log(data);

            // Check if the message is for the client
            for (var iCount = 0; iCount < recipients.length; iCount++) {
                if (recipients[iCount] == playerID) {
                    // It was intended for the client
                    // Check if it's a start game message
                    if (data.message == "The game has started.") {
                        document.querySelector('#chat-log').innerHTML = (data.message + '<br>');
                    }
                    // Check if it's a pick a question prompt
                    else if (data.message == "pick_question") {
                        // Set the questions for later
                        questions[0] = (data.randomQuestion1);
                        questions[1] = (data.randomQuestion2);

                        // Build the questions out
                        innerHTML = 'Pick a question<br>';
                        innerHTML = innerHTML + "<button style='font-size: 15rem;' id='randomQuestion1' name='" + data.randomQuestion1.questionID 
                            + "' onclick='sendQuestion(0)'>";
                        innerHTML = innerHTML + '1</button><br>';
                        innerHTML = innerHTML + "<button style='font-size: 15rem;' id='randomQuestion2' name='" + data.randomQuestion2.questionID 
                            + "' onclick='sendQuestion(1)'>";
                        innerHTML = innerHTML + '2</button><br>';

                        // Set the chat log to these questions
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                    }

                    // Check if it's a vote prompt
                    else if (data.message == "Vote please") {                        
                        // Create the names for them to choose
                        innerHTML = '<button style="font-size: 6rem;" id="clearVotesButton" onclick="clearVotes()">Clear Votes</button><br>';
                        for (var iCount = 0; iCount < data.names.length; iCount++) {
                            // Check if it's their playerID first because they can't vote for themselves
                            if (data.names[iCount].playerID != playerID) {
                                innerHTML = innerHTML + '<button style="font-size: 6rem;" id=""' + data.names[iCount].playerID + '" onclick="voteIncrement(' +
                                data.names[iCount].playerID + ')">' + data.names[iCount].realName
                                + '</button><div id="votesFor' + data.names[iCount].playerID + '"></div>';
                            }                            
                        }

                        // Set the submit button
                        innerHTML = innerHTML + "<button style='font-size: 6rem;' id='sendVotes' onclick='sendVotes()'>Send Votes</button>";

                        // Set the chat log to these votes
                        document.querySelector('#chat-log').innerHTML = innerHTML;
                    }

                    // Check if it's a make prediction prompt
                    else if (data.message == 'makePrediction') {
                        // Display their options for their prediction
                        innerHTML = '<button style="font-size: 8rem;" onClick="makePrediction(0)">Most votes</button><br>';
                        innerHTML = innerHTML + '<button style="font-size: 8rem;"onClick="makePrediction(1)">Some votes</button><br>';
                        innerHTML = innerHTML + '<button style="font-size: 8rem;"onClick="makePrediction(2)">No votes</button>';
                        document.getElementById('chat-log').innerHTML = innerHTML;
                    }
                }
            }            
        };

        function sendQuestion(questionIndex) {
            // Send the question
            chatSocket.send(JSON.stringify({
                'message': 'someonePickedAQuestion',
                'playerID': playerID,
                'question': questions[questionIndex]
            }));

            // Hide the questions now
            document.querySelector('#chat-log').innerHTML = 'Waiting...';
        }

        function sendVotes() {
            // Create the votes dictionary
            let votesDictionary = {}

            if (votes.length == 2) {
                // They voted for two people
                votesDictionary = {
                    'playerID1': votes[0][0],
                    'playerID2': votes[1][0]
                }
            } else if (votes.length == 1) {
                // They voted for the same person twice
                votesDictionary = {
                    'playerID1': votes[0][0],
                    'playerID2': votes[0][0]
                }
            }

            // Send the question
            chatSocket.send(JSON.stringify({
                'message': 'someoneVoted',
                'voterID': playerID,
                'votes': votesDictionary
            }));

            // Set the votes array to an empty array
            votes = [];

            // Hide the voting now
            document.querySelector('#chat-log').innerHTML = 'Waiting...';
        }

        function makePrediction(option) {
            if (option == 0) {
                // Most votes
                // Send it off
                chatSocket.send(JSON.stringify({
                    'message': 'someonePredicted',
                    'playerID': playerID,
                    'prediction': 'most'
                }));

                // Hide the prediction now
                document.getElementById('chat-log').innerHTML = 'Waiting...';
                
            } else if (option == 1) {
                // Some votes
                // Send it off
                chatSocket.send(JSON.stringify({
                    'message': 'someonePredicted',
                    'playerID': playerID,
                    'prediction': 'some'
                }));

                // Hide the prediction now
                document.getElementById('chat-log').innerHTML = 'Waiting...';
            } else {
                // No votes
                // Send it off
                chatSocket.send(JSON.stringify({
                    'message': 'someonePredicted',
                    'playerID': playerID,
                    'prediction': 'none'
                }));

                // Hide the prediction now
                document.getElementById('chat-log').innerHTML = 'Waiting...';
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>