<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Correct Pigments</title>
        <link rel="stylesheet" type="text/css" href="http://chanchosserver.com/src/styles.css">
    </head>
    <body>
        <button style="height: 25vh; width: 90%; font-size: 5rem;" onclick="redirect('JoinGame');">Join Game</button><br>
        <button style="height: 25vh; width: 90%; font-size: 5rem;" onclick="redirect('InputQuestion');">Input Question</button><br>
        <button style="height: 25vh; width: 90%; font-size: 5rem;" onclick="redirect('CreateGame');">Host Game</button>
    </body>
    <script>
        function redirect(pageName) {
            url = "http://" + window.location.host + "/clientGame/" + pageName + '/';

            // Change the URL
            window.location = url
        }
    </script>
</html>